{% extends 'admin_base.html' %}
{% block main  %}

<div class="card shadow">
    <div class="card-body">

        <h5 class="p-2" style="border-bottom: 2px solid orange;">View Blood Donor</h5>
        <div class="container-fluid">

            <table class="table table-bordered table-sm" id="example">
                <thead>
                 <tr>
                    <th>S.No.</th>
                    <th>Creation Date</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Blood Group</th>
                    <th>Municipality/VDC</th>
                     <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in blood %}
                <tr id="row-{{forloop.counter}}">
                    <td>{{forloop.counter}}</td>
                    <td>{{i.created}}</td>
                    <td>{{i.user.first_name}} {{i.user.last_name}}{{i.nam}}</td>
                    <td>{{i.user.email}}{{i.male}}</td>
                    <td>{{i.mobilenumber}}</td>
                    <td>{{i.bloodgroup}}</td>
                    <td>{{i.address}}</td>
                    <td>
                        <a href="" class="text-primary"
                           onclick="changeStatus('{{i.id}}', '{{forloop.counter}}', '{{i.status}}')">Approve</a>
                         <a href="" class="text-danger"
                           onclick="changeSttatus('{{i.id}}', '{{forloop.counter}}', '{{i.status}}')">Deny</a>
                         <a href="/delete-blood/{{i.id}}/" class="text-danger"
                           onclick="return confirm('Are You Sure?')">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function changeStatus(pid, count, status_id){
        url = '/blood-read/'+pid+'/';
        $.get(url, function(data, status){
            if(status_id == '2'){
                document.getElementById('row-'+count).style.display = 'none';
            }
        })
    }
</script>
<script>
    function changeSttatus(pid, count, status_id){
        url = '/blood-unread/'+pid+'/';
        $.get(url, function(data, status){
            if(status_id == '1'){
                document.getElementById('row-'+count).style.display = 'none';
            }
        })
    }
</script>

{% endblock %}