<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <title>Blood Donator</title>
</head>
<body>
{% include 'navigation.html' %}
<div class="card shadow">
    <div class="card-body">

        <h5 class="p-2" style="border-bottom: 2px solid orange;">Register for Blood Donation</h5>
        <div class="container-fluid">
            <form class="row g-3" method="post" name="blooddonation" enctype="multipart/form-data">
                {% csrf_token %}
                            <div class="col-md-6">
                              <label for="name" name="name" class="form-label">Name</label>
                              <input type="text" class="form-control" id="name" value="{{user.user.first_name}}" readonly >
                            </div>
                            <div class="col-md-6">
                              <label for="email" name="email" class="form-label">Email</label>
                              <input type="email" class="form-control" id="email" value="{{user.user.username}}" readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="bloodgroup" name="bloodgroup" class="form-label">Blood Group</label>
                                <input type="text" name="bloodgroup" class="form-control" id="bloodgroup" required>
                              </div>
                     <div class="col-md-6">
                              <label for="number" name="mobile"  class="form-label">Mobile</label>
                              <input type="text" name="mobile" class="form-control" id="number" required>
                            </div>
                              <div class="col-md-6">
                                <label for="address"  class="form-label">Municipality/VDC</label>
                                <input type="text" name="address" class="form-control" id="address" required>
                              </div>


                            <div class="col-12">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                  I certify that the information I am about to provide is true and complete to the best of my knowledge. I am aware that this self declaration statement is subject to review and verification and if such information has been falsified I may be terminated from this organisation.
                                </label>
                              </div>
                            </div>
                            <div class="col-12">
                              <button type="submit" class="btn btn-primary float-end">Register</button>
                            </div>
                          </form>

             </div>
    </div>
</div>

</body>
</html>